/**
* EvalGrid specific CSS
*
* Bastien Nicoud
*/

/* Hide elements on print */
@media print {
  #side-menu {
    display: none !important;
  }

  .btn {
    display: none !important;
  }
}

/* global margin */
#evaluation-grid {
  margin: 40px auto;
}

/* inputs layouts */
.evalgrid {

  border: none;
  background-color: rgb(250, 249, 248);

  font-size: 16px;
  
  transition: all 0.2s ease-in-out;
}

.evalgrid.input {
  height: 50px;
  width: 100%;

  font-weight: 500;
  
  text-align: center;
  vertical-align: center;
}

.evalgrid.textarea {
  height: 100px;
  width: 100%;
}

.evalgrid:hover {
  background-color: rgb(224, 224, 224);
}

.evalgrid:focus {
  outline: none;
  background-color: rgb(224, 224, 224);
}

/* html tables layout */

.gridform.w12 {
  width: 12.5%
}

.gridform.w10 {
  width: 10%
}

.gridform.w20{
  width: 20%;
}

.gridform.w25 {
  width: 25%;
}

.gridform.w26 {
  width: 26.66%;
}

.gridform.w40 {
  width: 40%;
}

.gridform.w50 {
  width: 50%;
}

/* evaluationgrid/create.blade.php */
.evalgrid-edit td textarea, .evalgrid-edit td input {
  width: 100%;
}

.numberinput-col {
  max-width: 10em !important;
  white-space: nowrap;
}

.small-col {
  width: 1%;
  white-space: nowrap;
}

.deleteButton {
  background-color: red;
  min-width: 23px;
  min-height: 23px;
  border: none;
  border-radius: 0;
  color: white;
  float: right;
  padding: 0;

  &:hover {
    background-color: orangered;
  }
}

.title-input {
  font-size: 14px;
  height: 21px;
  width: 50%;
  display: inline;
  background-color: rgba(255,255,255,0.25); /* Inactive bg */

  /* Input selected */
  &:active, &:target {
    background-color: white !important;
  }
}