.larastable {
    width: 100%;
}
.accordion-content-row {
    & > td {
        padding: 0;
        border-top: 0;
        background-color: darkgrey;

        & > table {
            margin: 0;

            & th {
                background-color: darkgrey;
                color: white;
                border-color: white;

                &:first-of-type {
                    width: 22%;
                }
            }
        }
    }
}