.internshipsFilterText {
  text-align: center;
  width: 100%;
}

.larastable {
  margin-top: 10px;
  width: 100%;
}

.none {
  display: none !important;
}

.error{
  font-size: 18px;
}

.buttonNewVisit{
  width: 40px;
  height: 40px;
  background: #e0e0e0;
  border-radius: 100%;
  border: solid 1px #aaa;
  display: inline-block;
  transition: 0.2s;
  user-select: none;

  &:hover{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    border: solid 1px #e0e0e0;
    color: #e0e0e0;
    cursor: pointer;
  }
  &:active{
    box-shadow: inset 0px 0px 6px rgba(0,0,0,0.5);
  }
}

.darken
{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  text-align: center;
  overflow-y: scroll;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.focus {
  position: relative;
  z-index: 2;
  padding-bottom: 10px;
  box-shadow: 0 0 10px black; 
  background: #ebebeb; 
}