$notEnoughHoursColor: red;
$notEnoughWordsColor: orange;
$notEnoughActivitiesColor: purple;
$logbookOkColor: green;
$logbookInactiveColor: #666;

$normalCardHeight: 130px;
$calendarHeight: 600px;

//base colors
.bgLogbookOk {
  background-color: $logbookOkColor;
}
.colorLogbookOk {
  color: $logbookOkColor;
}
.bgNotEnoughWords {
  background-color: $notEnoughWordsColor;
}
.colorNotEnoughWords {
  color: $notEnoughWordsColor;
}
.bgNotEnoughHours {
  background-color: $notEnoughHoursColor;
}
.colorNotEnoughHours {
  color: $notEnoughHoursColor;
}
.bgNotEnoughActivities {
  background-color: $notEnoughActivitiesColor;
}
.colorNotEnoughActivities {
  color: $notEnoughActivitiesColor;
}
.bgInactive {
  background-color: $logbookInactiveColor;
}
.colorInactive {
  color: $logbookInactiveColor;
}

//main
.none {
  display: none !important;
}
* {
  box-sizing: border-box;
}

//loader
.loader {
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 300ms;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.loader.dark {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(/images/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px;
}

//side menu
.logbookTips {
  padding-top: 5px;
}
.logbookTip {
  margin-bottom: 5px;
}
.logbookTipColor {
  width: 50px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  color: white;
  text-shadow: 0 0 2px black;
  font-size: 11px;
  padding: 3px;
}
.wordCountTipText {
  display: inline-block;
  width: calc(100% - 40px - 1em);
  vertical-align: middle;
  padding-left: 10px;
  margin: 0;
  font-size: 15px;
  text-align: left;
}

//review mode
.reviewerContainer {
  text-align: left;
}
.reviewWeekSeparator {
  margin-top: 10px;
  border-bottom: 1px solid green;
  font-size: 18px;
}
.reviewWeek {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.reviewDayTitle {
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  display: inline-block;
}
.reviewDay {
  background-color: white;
  box-shadow: 0 0 5px #666;
  padding: 5px 10px 0px 10px;
  margin: 5px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 100%;
}
.reviewActivity {
  font-size: 14px;
  color: black;
  border-top: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  display: flex;
}
.reviewActivityInfos {
  min-width: 200px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
  padding-right: 5px;
}
.reviewActivityDuration {
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
  padding-right: 5px;
}
.reviewActivityType {
  display: inline-block;
  vertical-align: middle;
}

//normal mode
.logbookContainer {
  width: 90%;
  margin-left: 5%;
  padding: 10px;
  border: 1px solid;
  text-align: left;
}

.logbookContainer,
#activityWindow {
  p {
    margin: 0;
  }
  button {
    scale: 1;
    transition: scale 0.2s;
    cursor: pointer;
    min-width: 0;
    &:hover {
      scale: 1.1;
    }
    &:active {
      scale: 0.8;
    }
    &:disabled {
      scale: 1;
      opacity: 0.4;
      color: black;
    }
  }
}

.activityContainer {
  background-color: white;
  min-height: $normalCardHeight;
  box-shadow: #666 0 0 5px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-top: 7px;
  position: relative;
  overflow: hidden;
}
.activityHeader {
  border-bottom: 1px solid #666;
  padding: 5px;
  display: flex;
}
.activityType {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
}
.activityDescription {
  $fontsize: 11px;
  $lineheight: 1.4 * $fontsize;
  $linecount: 16;

  padding: 5px;
  overflow: hidden;
  font-size: 11px;
  max-height: $lineheight * $linecount + 7px; //height without cutting lines
  word-break: break-word;
  white-space: pre-line;
}
.activityMoreBtn {
  font-size: 20px;
  color: #333;
  background: none !important;
  border: none;
  border-radius: 0;
  position: absolute;
  bottom: 0;
  right: 5px;
  padding: 0;
}
/*today*/

.todayTitle {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

#todayDuration {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

#todayActivitiesContainer {
  border: 1px solid #666;
  height: 150px;
  padding: 5px;
  padding-bottom: 15px;
  box-sizing: content-box;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#todayNewActivityBtn {
  display: inline-block;
  width: 60px;
  line-height: 35px;
  border-radius: 100%;
  font-size: 35px;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: calc((150px - 60px) / 2);
  height: 60px;
  background-color: lightgreen;
  border-color: green;
  color: #004d00;
}
#todayActivitiesContainer > .activityContainer {
  max-width: 150px;
  max-height: $normalCardHeight;
  margin-right: 10px;
}

/*calendar*/

.calendarSection {
  border: 1px solid #666;
  margin-top: 15px;
}

.calendarHeader {
  border-bottom: 1px solid #666;
  position: relative;
  text-align: center;
  padding: 5px;
  line-height: 35px;
  -webkit-user-select: none;
}

#todayTimeBtn {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 10px;
  border-radius: 3px;
  line-height: 10px;
}

#lastTimeBtn,
#currentDatesDisplay,
#nextTimeBtn,
#calendarModeBtn {
  display: inline-block;
  vertical-align: middle;
  background: none;
  border: none;
  font-weight: bold;
}

#lastTimeBtn,
#nextTimeBtn {
  font-size: 20px;
  line-height: 20px;
}

#currentDatesDisplay {
  min-width: 400px;
  font-size: 20px;
  margin: 0 10px 0 10px;
}

#calendarModeBtn {
  position: absolute;
  right: 10px;
  background-image: url(/images/calendar.svg);
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 10px;
  border-radius: 0;
  padding: 0;
}

#seekCalendar {
  display: inline-block;
  position: absolute;
  right: 2px;
  top: 45px;
  background-color: white;
  z-index: 50;
  box-shadow: 0 0 5px #666;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  button {
    background: none;
    border: 0;
    font-size: 20px;
    vertical-align: middle;
    line-height: 20px;
    padding: 0;
    height: 20px;
  }
  p {
    display: inline-block;
    width: 100px;
    line-height: 20px;
    vertical-align: middle;
    padding-top: 3px;
  }
}
#seekDateInput {
  width: 100%;
  border-radius: 5px;
}

.calendarBody {
  min-height: $calendarHeight;
  overflow: hidden;
  height: 75%;
}

/*weeks*/

#weeksContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.weekContainer.animating {
  transition: left 0.3s;
}

.weekContainer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.weekContainer.left {
  left: -100%;
}

.weekContainer.right {
  left: 100%;
}

/*days*/
.weekContainer > .loader {
  height: $calendarHeight;
}

.dayAdapter {
  width: calc(100% / 5 - 10px);
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  height: 100%;
}

.dayAdapterHeader {
  padding: 5px;
  position: relative;
}

.dayAdapterTimeDisplay {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: right;
}

.dayAdapterActivitiesContainer {
  padding: 30px 5px 5px 5px;
  position: relative;
  border: 1px solid;
  max-height: $calendarHeight - 45px;
  overflow-y: auto;
  .activityContainer:last-child {
    margin-bottom: 7px;
  }
}

.dayAdapterNewActivityBtn {
  border-radius: 5px;
  padding: 0;
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 20px;
  width: 30px;
  background-color: lightgreen !important;
  border-color: green;
}

//window
#activityWindow {
  .loader {
    height: 100vh;
  }
}
#activityWindowContainer {
  width: 100%;
  max-width: 600px;
}
.activityWindowHeader {
  text-align: left;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #666;
}
#activityWindowTimeDisplay {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}
#activityWindowActivityTypeDisplay {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  padding-left: 10px;
}
#activityWindowDeleteBtn {
  position: absolute;
  right: 10px;
  top: 16px;
  background: none;
  border: none;
  background-image: url(/images/trashbin.svg);
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#activityWindowDescription {
  text-align: left;
  text-justify: distribute;
  padding: 20px;
  word-break: break-word;
  white-space: pre-line;
}
.activityWindowButtons {
  height: 50px;
  position: relative;
  button {
    position: absolute;
    height: 40px;
  }
}
.activityWindowTimeEdit {
  display: inline-block;
  vertical-align: middle;

  * {
    font-size: 30px;
    display: inline-block;
  }
  input {
    width: 40px;
    border: 0;
    border-bottom: 2px solid #666;
    color: #333;
    line-height: 30px;
    text-align: center;
    -webkit-appearance: textfield;
  }
}
#activityWindowActivityTypeInput {
  font-size: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 150px - 50px);
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
#activityWindowDescriptionInput {
  max-width: 100%;
  min-width: 100%;
  border: 0;
  min-height: 200px;
  padding: 20px;
  font-size: 15px;
}

#activityWindowCancel {
  left: 20px;
}
#activityWindowEditBtn {
  right: 20px;
}
.activityWindowSubmit {
  right: 20px;
}

/*external logbook*/
#externalLogbookPreview {
  width: 100%;
  min-height: calc(100vh - 200px);
  height: 500px;
}
$dropzoneHeight: 100px;
#fileDropzone {
  border: 3px solid #666;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  width: 100%;
  max-width: 300px;
  height: $dropzoneHeight;
  display: inline-block;
  position: relative;
  background-color: #ccc;
  border-style: dashed;
  overflow: hidden;
}
#dropzoneFileName{
  line-height: $dropzoneHeight - 10px;
}
#fileDropzone.dragOver{
  border-color: green;
  background-color: lightgreen;
}
#fileInput {
  position: absolute;
  right: -100%;
  top: 0;
  width: 200%;
  height: 100%;
  text-align: right;
}