.clickableCase {
  &:not(.locked):hover {
    cursor: pointer;
  }
}

.postulationRequest {
  background-color: #00FFFF;
}

.currentStudent {
  &:not(.postulationRequest) {
    background-color: #e9e9e9;
  }
}